- content_for :advanced_filters do
  .govuk-form-group.app-site-search
    = label_tag 'job_title', 'Keyword', class: 'govuk-label'
    = search_field_tag :job_title, job_title, class: 'govuk-input', placeholder: t('jobs.filters.job_title_hint')
    = render 'shared/location_search_tag', extra_label_class: nil
  .govuk-form-group.govuk-inset-text
    = label_tag 'radius', t('jobs.filters.radius'), class: 'govuk-label'
    = select_tag 'radius', options_for_select(radius_filter_options, radius), disabled: @filters.location_category_search?, class: 'govuk-select govuk-!-width-full'

%aside.filter-vacancies
  %h2.govuk-heading-m
    =t('jobs.filters.title')

  = form_tag jobs_path(anchor: 'vacancy-results'), class: 'filters-form', method: :get do

    - if local_assigns.fetch :collapsible?, false
      %details.govuk-details{"data-module": "govuk-details", "data-summary-expanded": t('jobs.filters.summary_expanded'), "data-summary-collapsed": t('jobs.filters.summary_collapsed')}
        %summary.govuk-details__summary
          %span.govuk-details__summary-text
            = t('jobs.filters.summary_nojs')
        %div
          = yield :advanced_filters
    - else
      = yield :advanced_filters

    = hidden_field_tag :sort_column, sort_column
    = hidden_field_tag :sort_order, sort_order

    = submit_tag @vacancies.apply_filters_button_text, class: 'govuk-button mb0'
